html,body {
    margin:0;
    padding:0;
    background: rgb(255, 190, 190);
    box-sizing: border-box;
}
footer{
    padding: 15px
}
@font-face {
    font-family: 'Hexaframe CF';
    src: url('HexaframeCF-Bold.eot');
    src: local('Hexaframe CF Bold'), local('HexaframeCF-Bold'),
        url('fonts/HexaframeCF-Bold.eot?#iefix') format('embedded-opentype'),
        url('fonts/HexaframeCF-Bold.woff2') format('woff2'),
        url('fonts/HexaframeCF-Bold.woff') format('woff'),
        url('fonts/HexaframeCF-Bold.ttf') format('truetype');
    font-weight: italic;
    font-style: normal;
}

#banner{
    
    font-family: 'Hexaframe CF';
    background:linear-gradient(rgba(20, 20, 22, 0.5),rgba(0, 0, 1, 0.7)),url(Batman_Banner.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    box-sizing: border-box;
}
.banner-text{
    text-align: center;
    padding-top: 170px;
    font-family: 'Hexaframe CF';

}
.text {
    font-family: 'Hexaframe CF';
    font-size: 50px;
    transform: translate(0%, -10%);
    color: #00FFFF;
}
/* 
.text span{
    color:#ff3b3b;   
} */
.ip{
    font-family: 'Hexaframe CF';
    font-size: 70px;
    transform: translate(0%,-40%); 
    color: rgb(190, 12, 12);

}
nav.logo{
    width: 50%;
    position: absolute;
    top:0;
    left: 0;
    padding: 20px 8%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}
.container{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.name {
    display: flex;
    align-items: center;
    flex-direction: column;
}
.container p{
    font-size: 20px;
    padding-right: 390px;
    letter-spacing: 2px;
    color: rgb(57,255,20); 
    text-transform: uppercase;
    margin-bottom: 50px;
    filter: drop-shadow(0 0 20px rgb(57,255,20)) drop-shadow(0 0 60px rgb(57,255,20));
    animation: textEffect 0.5s steps(1) infinite;
}
@keyframes textEffect{
    0%,100%{
        opacity: 0;
    }
    50%{
        opacity: 1;
    }
}

.container1 {
    
    .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }

      .b-example-divider {
        width: 100%;
        height: 3rem;
        background-color: rgba(0, 0, 0, .1);
        border: solid rgba(0, 0, 0, .15);
        border-width: 1px 0;
        box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
      }

      .b-example-vr {
        flex-shrink: 0;
        width: 1.5rem;
        height: 100vh;
      }

      .bi {
        vertical-align: -.125em;
        fill: currentColor;
      }

      .nav-scroller {
        position: relative;
        z-index: 2;
        height: 2.75rem;
        overflow-y: hidden;
      }

      .nav-scroller .nav {
        display: flex;
        flex-wrap: nowrap;
        padding-bottom: 1rem;
        margin-top: -1px;
        overflow-x: auto;
        text-align: center;
        white-space: nowrap;
        -webkit-overflow-scrolling: touch;
      }

      .btn-bd-primary {
        --bd-violet-bg: #712cf9;
        --bd-violet-rgb: 112.520718, 44.062154, 249.437846;

        --bs-btn-font-weight: 600;
        --bs-btn-color: var(--bs-white);
        --bs-btn-bg: var(--bd-violet-bg);
        --bs-btn-border-color: var(--bd-violet-bg);
        --bs-btn-hover-color: var(--bs-white);
        --bs-btn-hover-bg: #6528e0;
        --bs-btn-hover-border-color: #6528e0;
        --bs-btn-focus-shadow-rgb: var(--bd-violet-rgb);
        --bs-btn-active-color: var(--bs-btn-hover-color);
        --bs-btn-active-bg: #5a23c8;
        --bs-btn-active-border-color: #5a23c8;
      }
      .bd-mode-toggle {
        z-index: 1500;
      }
}
.col-6 col-md-2 mb-3 {
    align-items: center;
}